body {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    font-family: sans-serif;
    width: 80%;
    background: #ddd8d1;
}

.tongquan_baihoc {
    text-align: center;
}

.tongquan_baihoc img {
    width: 100%;
}

.tongquan_baihoc p {
    text-align: left;
    font-size: 13px;
}

@media screen and (min-width: 800px) {
    .tongquan_baihoc p {
        margin-left: 32%;
    }

    .tongquan_baihoc p {
        font-size: 20px;
    }
}